@{
    ViewData["Title"] = "Políticas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel mollis est. Cras eu nulla eu nunc aliquet egestas. Nullam efficitur pharetra  <br>
    massa, at lacinia nunc pretium vitae. Nam quis consectetur nisl, et sodales mauris. Interdum et malesuada fames ac ante ipsum primis in  <br>
    faucibus. Suspendisse potenti. Nulla a mauris nec eros egestas aliquam sed eleifend mi. Fusce pretium justo dapibus ipsum facilisis, nec  <br>
    condimentum tortor malesuada. Cras interdum nibh a dui consequat convallis. Morbi vel purus dui. In pellentesque dolor enim, ac  <br>
    pharetra mauris venenatis eget.
</p>

<p>
    Aenean aliquam leo sed lectus sagittis faucibus. Etiam sit amet ipsum vel magna maximus finibus id id arcu. Nam quis ligula accumsan, <br>
    iaculis ante at, aliquam eros. Morbi posuere malesuada felis. Vivamus eleifend, enim eget vestibulum ornare, ipsum diam consectetur <br>
    urna, vitae sodales erat justo vel nisl. Pellentesque posuere sapien ac erat ultrices blandit. Praesent aliquet velit metus, at consectetur <br>
    magna porttitor eu. Vivamus mollis diam id dolor rutrum luctus. Sed nisi ipsum, rhoncus at justo at, convallis congue nunc. Proin faucibus, <br>
    ligula non euismod tincidunt, nunc mi rutrum nisi, nec dictum lorem tortor id magna. Donec ut nunc eu elit bibendum dignissim ut sit <br>
    amet risus.
</p>